/* styling for the head */
/* needs Avatar last airbender styling Herculeum*/
.title{
    text-align: center;
    
}

.subhead{
    text-align: center;
}

/* body styling */
/*needs to style body and center columns*/

body{

background-color: black;
color: white;
}


.column{
    float: left;
    background-color: black;
    height: 500px;
    width:200px;
    border: 2px;
    border-style: dashed;
    color: antiquewhite;
    
    
}

.column1{
    margin-right: 2px;
    
}